body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
section{
    margin-bottom: 125px;
}
h1{
    font-size: 45px;
    color: #565656;
    line-height: 25px;
}
span{
    color: #16BBFD;
}

.flex-container{
    display: flex;
}
.box-item img{
    height: 600px;
    font-weight: 600px;
}
.box-item{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
}
.box-item p{
    text-align: justify;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 35px;
    color: dimgrey
}
.button-link{
    text-decoration: none;
    background-image: linear-gradient(45deg,#14BBFC, #0387F6);
    padding: 15px 25px;
    border-radius: 25px;
    font-weight: 700;
    color: white;
}
#middle-part{
    background-image: url(images/section2-bg.jpg);
    background-repeat: no-repeat;
}
#recipe-box img{
    height: 250px;
    width: 320px;
}